@import url('https://v1.fontapi.ir/css/Vazir');


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}

.screen-height{
  height: 100vh;
}
.max-screen-height{
  max-height: 100vh;
}